@model IEnumerable<MvcClothesStore.Models.SanPham>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="title">
    <p class="titletext">ALL PRODUCTS</p>
</div>
<div class="catalog">
    <ul>
        <li><a href="#">NEW PRODUCTS</a></li>
        <li><a href="#">HOODIE/SWEATER</a></li>
        <li><a href="#">BACKPACK</a></li>
        <li><a href="#">SHORT/PANT</a></li>
        <li><a href="#">JACKET</a></li>
    </ul>
</div>
<div class="products">

    @foreach (var i in Model)
    {
        <div class="item">
            <a href="@Url.Action("Details","ClothesStore", new { id = i.MaSP })">
                <img alt="@i.TenSP" src="~/images/@i.AnhSP" width="300" />
                <img class="Itemfront" src="~/images/@i.Anh2SP" width="300">
            </a>
            <h3 class="productName">@i.TenSP</h3>
            <p class="productPrice">@i.GiaHienTai</p>
        </div>
    }

    
</div>