
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




<div class="title">
    <p class="titletext">ALL PRODUCTS</p>
</div>
<div class="catalog">
    <ul>
        <li><a href="#">NEW PRODUCTS</a></li>
        <li><a href="#">HOODIE/SWEATER</a></li>
        <li><a href="#">BACKPACK</a></li>
        <li><a href="#">SHORT/PANT</a></li>
        <li><a href="#">JACKET</a></li>
    </ul>
</div>
<div class="products">
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
    <div class="item">
        <a href="#">
            <img alt="Item Back" src="~/images/item1.JPG" width="300" />
            <img class="Itemfront" src="~/images/item1hover.JPG" width="300">
        </a>
        <h3 class="productName">Bad Rabbit</h3>
        <p class="productPrice">380 000 VNĐ</p>
    </div>
</div>