@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng đã được ghi nhận! Chúng tôi sẽ cố gắng liên hệ và giao hàng sớm nhất</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Home", "ClothesStore")
</p>